<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Todo</a>
  <span class="navbar-text" *ngIf="lastMessage">
    Last todo text: {{ lastMessage }}
  </span>
  <span class="navbar-text">
    Todo length: {{ todoLength }}
  </span>
</nav>
