<div class="card mt-3" [ngClass]="{ 'bg-success text-white': task.completed }">
  <div class="card-body">
    <p class="card-text">{{ task.title }}</p>
    <button class="btn btn-primary" (click)="isEdit = !isEdit; editTask()">Edit</button>
    <button class="btn btn-danger" (click)="deleteOneTask()">Delete</button>
    <button class="btn"
            [ngClass]="{ 'btn-success': !task.completed,
                        'btn-primary': task.completed }"
            (click)="updateOneTask()">
      {{ task.completed ? 'Undone' : 'Done' }}
    </button>
  </div>
</div>
