<div class="card">
  <div class="card-body">
    <form #form="ngForm" novalidate>
      <div class="form-group">
        <label for="text">Text</label>
        <input type="text"
               class="form-control"
               id="text"
               name="title"
               [(ngModel)]="title"
               #taskTitle="ngModel"
               required
        >
      </div>

      <div class="alert alert-danger"
           *ngIf="taskTitle.touched && taskTitle.invalid && form.submitted">Title required</div>

      <button class="btn btn-primary"
              [disabled]="taskTitle.invalid"
              *ngIf="!isEdit"
              (click)="addTask()">Add task</button>

      <button class="btn btn-primary"
              [disabled]="taskTitle.invalid"
              *ngIf="isEdit"
              (click)="isEdit = !isEdit; editTask()">Edit task</button>

      <button class="btn btn-primary"
              *ngIf="isEdit"
              (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>
